.btn {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 8px 14px;

  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;

  font-size: 18px;
  color: inherit;
  background-color: rgb(225, 105, 115);
  transition: border-color 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  border-color: rgb(255, 255, 255);
}
