.wrapper {
  text-align: center;
  font-size: 20px;
}

.text {
  margin-bottom: 6px;
}

.span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #fff;
  color: rgb(228, 22, 7);
}
